In [1]:
##### 6.3 웹 API와 함께 사용하기 #####

In [11]:
import requests
import pandas as pd
import numpy as np

In [3]:
url = 'https://api.github.com./repos/pandas-dev/pandas/issues'

In [4]:
resp = requests.get(url)

In [5]:
resp

In [6]:
data = resp.json()

In [9]:
data[0]['title']

'Cleaning yearly, quarterly and monthly date offsets'

In [13]:
# data를 DataFrame으로 생성하고 관심있는 필드만 추출

issues = pd.DataFrame(data, columns=['number', 'title', 'labels', 'state'])

In [14]:
issues

,number,title,labels,state
0,39878,"Cleaning yearly, quarterly and monthly date of...",[],open
1,39877,Why .sort_values() on column containing same v...,[],open
2,39876,TST: collect indexing tests by method,[],open
3,39874,BUG: pandas.SparseDtype from pandas.Categorica...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,39873,TST/REF: collect Index tests by method,[],open
5,39871,Backport PR #39858 on branch 1.2.x (DOC: Updat...,[],open
6,39870,Backport PR #39868 on branch 1.2.x (CI: filter...,[],open
7,39867,[WIP] ENH: Groupby mode,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
8,39866,Wrong date math,"[{'id': 2365504893, 'node_id': 'MDU6TGFiZWwyMz...",open
9,39865,TYP: @final for Block methods,[],open
10,39862,BUG: Docs website is blocked by google safe br...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,39861,[POC] PERF: 1d version of the cython grouped a...,[],open
12,39859,DOC: add button to edit on GitHub,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
13,39857,BUG: read_csv() does not read all the lines in...,[],open
14,39856,CLN: assorted cleanups,[],open
15,39853,BUG: array ufuncs with more than 2 inputs fail...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
16,39850,"BUG: float formatters ignore ""object"" extensio...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,39849,solved raise an error on redundant definition ...,"[{'id': 42670965, 'node_id': 'MDU6TGFiZWw0MjY3...",open
18,39845,DOC: Reindexing behaviour of dataframe column-...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
19,39844,CI: series_methods.IsInLongSeriesLookUpDominat...,"[{'id': 732775912, 'node_id': 'MDU6TGFiZWw3MzI...",open
20,39843,BUG: Creating empty datetime64[ns] column shou...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
21,39841,[ArrayManager] Implement concat with axis=1 (m...,"[{'id': 49094459, 'node_id': 'MDU6TGFiZWw0OTA5...",open
22,39839,BUG: When checking equality of column dtype - ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,39838,BUG: Problems round-tripping categoricals to/f...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
24,39837,BUG: AttributeError: 'BlockManager' object has...,"[{'id': 49379259, 'node_id': 'MDU6TGFiZWw0OTM3...",open
25,39836,CI: remove stale assignments,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
26,39834,DEPS: change clipboard backend to pyclip,"[{'id': 527603109, 'node_id': 'MDU6TGFiZWw1Mjc...",open
27,39833,February 2021 Docs Meeting,"[{'id': 2187005593, 'node_id': 'MDU6TGFiZWwyMT...",open
28,39830,ENH: Hand numpy-like arrays with is_list_like,[],open
29,39823,Raise an error on redundant definition of sepa...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open

In [15]:
##### 6.4 데이터베이스와 함께 사용하기 #####

In [16]:
# SQL에서 데이터를 읽어와 DataFrame에 저장

import sqlite3

In [17]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER
);"""

In [18]:
con = sqlite3.connect('mydata.sqlite')

In [19]:
con.execute(query)

In [20]:
con.commit()

In [21]:
# 데이터 입력

data = [('Atlanta', 'Georgia', 1.25, 6),
       ('Tallahassee', 'Florida', 2.6, 3),
       ('Sacramento', 'California', 1.7, 5)]

In [22]:
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

In [23]:
con.executemany(stmt, data)

In [24]:
con.commit

In [25]:
# 대부분의 파이썬 SQL 드라이버는 테이블에 대해 select 쿼리를 수행하면 튜플 리스트를 반환한다.
cursor = con.execute('select * from test')

In [26]:
rows = cursor.fetchall()

In [27]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [28]:
# 반환된 튜플 리스트를 컬럼 이름을 저장해줌

cursor.description

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [29]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [31]:
# 데이터베이스에 쿼리를 보내기위해 매번 위 작업을 하는 것은 복잡하다.
# pandas의 read_sql을 이용하면 간단해진다.

!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.23-cp37-cp37m-win32.whl (1.2 MB)
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.23

WARNING: You are using pip version 20.2.4; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\lg\appdata\local\programs\python\python37-32\python.exe -m pip install --upgrade pip' command.

In [32]:
import sqlalchemy as sqla

In [33]:
db = sqla.create_engine('sqlite://mydata.sqlite')

ArgumentError: Invalid SQLite URL: sqlite://mydata.sqlite
Valid SQLite URL forms are:
 sqlite:///:memory: (or, sqlite://)
 sqlite:///relative/path/to/file.db
 sqlite:////absolute/path/to/file.db

In [35]:
pd.read_sql('select * from test', db)

NameError: name 'db' is not defined